.titulo1-vermelho {
    font-family: "Balthazar", system-ui;
    font-style: italic;
    font-size: 60px;
    line-height: 1;
    color: #7a0000;
    margin-bottom: 20px;
}

.p-normal {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.box {
    display: grid;
    justify-self: center;
    width: 1400px;
}

.bt-branco {
    text-transform: uppercase;
    font-size: 17px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 40px;
}

.bt-vermelho {
    font-size: 17px;
    text-transform: uppercase;
    padding: 20px;
    color: #7a0000;
    border: 2px solid #7a0000;
    border-radius: 40px;
}