@import url("./css/reset.css");
@import url("./css/formatação.css");

header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 40px 0;
    background-color: #7a0000;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 20px;
    text-transform: uppercase;

    div {
        display: flex;
        position: relative;
        justify-items: start;
        width: 1400px;
        gap: 40px;

        .linha {
            display: flex;
            width: 200px;
            height: 2px;
            align-self: end;
            background-color: white;
        }
    }
}

#sect1 {
    padding: 80px 0px;
    background-color: #e1dfd4;

    .box{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;

        p {
            margin-bottom: 100px;
        }
        
        img {
        position: absolute;
        top: -190px;
        right: 0px;
        width: 600px;
        height: 800px;
        object-fit: cover;
        border-radius: 0px 0px 20px 20px;
    }
    }
    
    
}