@import url("./css/reset.css");
@import url("./css/formatação.css");

header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
  padding: 40px 0;
  background-color: #7a0000;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 20px;
  text-transform: uppercase;

  #menuCheck:hover {
    cursor: pointer;
  }

  #menu {
    display: none;
    top: -120px;
  }

  #menu.ativo {
    display: flex;
    position: absolute;
    top: 120%;
    background-color: #7a0000;
    padding: 10px 20px;
    border-radius: 20px;
    border: 4px solid white;
    z-index: 2;
  }

  img {
    width: 64px;
    height: 64px;
  }

  div {
    display: flex;
    position: relative;
    align-items: center;
    justify-items: start;
    width: 1400px;
    gap: 40px;
  }
}

#sect1 {
  padding: 80px 0px;
  background-color: #e1dfd4;

  .box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;

    p {
      margin-bottom: 130px;
    }

    img {
      position: absolute;
      top: -230px;
      right: 0px;
      width: 600px;
      height: 700px;
      object-fit: cover;
      border-radius: 0px 0px 20px 20px;
    }
  }
}

#sobre-nos {
  
  display: grid;
  padding: 60px 0px;
  grid-template-columns: 1fr 1fr;
  background-color: #7a0000;

  h1 {
    margin-bottom: 40px;
    text-align: center;
  }

  img {
    width: 100%;
    border-radius: 0px 20px 20px 0px;
  }

  .box-txt {
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr;
    max-width: 740px;
    justify-self: start;
    padding: 0px 60px;
    margin: auto 0px;
  }
}

#valores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #e1dfd4;
  align-items: center;
  padding: 60px 0px;

  .box-txt {
    display: grid;
    justify-self: end;
    max-width: 700px;
    padding-right:40px;

    h1 {
      margin-bottom: 20px;
    }
  }

  .box-img {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px 0px 0px 20px;
    }
  }
}

#como-funciona {
  background-color: #7a0000;
  justify-items: center;
  padding: 80px 0px;

  div {
    max-width: 1400px;
    
    h1 {
      justify-self: start;
      text-indent: 20px;
      margin-bottom: 40px;
    }


    ul {
      display: flex;
      gap: 20px;

      li {
        .numero {
          display: flex;
          text-indent: 20px;
          position: relative;
          color: white;
          font-family: "Balthazar", sans-serif;
          font-size: 60px;
          font-weight: bold;
          padding-bottom: 30px;
        }

        .numero::after {
          content: "";
          position: absolute;
          background-color: white;
          width: 100px;
          height: 4px;
          bottom: 20px;
        }

        .passo {
          font-family: "Balthazar", sans-serif;
          font-size: 40px;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
    }
  }
}

#parceiros-especialistas {
  padding: 60px 0px;
  background-color: #e1dfd4;

  h1 {
    text-align: center;
    margin-bottom: 40px;
  }

  .box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
    .parceiro {
      display: grid;
      grid-template-rows: auto auto auto;
      align-items: center;
      text-align: center;

      h2 {
        position: relative;
        margin-bottom: 20px;
        font-family: 'Balthazar', sans-serif;
        font-size: 40px;
      }

      h2::After {
        content: "";
        position: absolute;
        display: grid;
        width: 100%;
        height: 2px;
        bottom: -10px;
        background-color: black;
      }

      img {
        width: 100%;
        height: 700px;
        border-radius: 20px;
      }
    }
  }
}



/* @media (max-width: 1400px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 40px 0;
    background-color: #7a0000;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 20px;
    text-transform: uppercase;

    div {
      display: flex;
      position: relative;
      justify-items: start;
      max-width: 1400px;
      gap: 40px;
    }
  }

  #sect1 {
    padding: 80px 40px;
    .box {
      width: 100%;
      p {
      }

      img {
        top: -230px;
        heigh: 150%;
      }
    }
  }
} */
