@import url("./css/reset.css");
@import url("./css/formatação.css");

header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
  padding: 40px 0;
  background-color: #7a0000;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 20px;
  text-transform: uppercase;

  #menu {
    display: none;
  }

  #menu.ativo {
    display: flex;
    position: absolute;
    top: 120%;
    background-color: #7a0000;
    padding: 10px 20px;
    border-radius: 20px;
    border: 4px solid white;
    z-index: 2;
  }

  img {
    width: 64px;
    height: 64px;
  }

  div {
    display: flex;
    position: relative;
    align-items: center;
    justify-items: start;
    max-width: 1400px;
    gap: 40px;
  }
}

#sect1 {
  padding: 80px 0px;
  background-color: #e1dfd4;

  .box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;

    p {
      margin-bottom: 100px;
    }

    img {
      position: absolute;
      top: -190px;
      right: 0px;
      width: 600px;
      height: 800px;
      object-fit: cover;
      border-radius: 0px 0px 20px 20px;
    }
  }
}

#sobre-nos {
  display: grid;
  padding: 60px 0px;
  grid-template-columns: 1fr 1fr;
  background-color: #7a0000;

  h1 {
    margin-bottom: 40px;
    text-align: center;
  }

  img {
    width: 100%;
    border-radius: 0px 20px 20px 0px;
  }

  .box-txt {
    padding: 0px 60px;
  }
}

#valores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #e1dfd4;
  align-items: center;
  padding: 60px 0px;

  .box-txt {
    padding: 0px 40px;

    h1 {
      margin-bottom: 20px;
    }
  }
  .box-img {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px 0px 0px 20px;
    }
  }
}

#como-funciona {
  padding: 60px 40px;
  background-color: #7a0000;

  h1 {
    text-indent: 20px;
  }

  ul {
    display: flex;
    gap: 20px;

    li {
      .numero {
        display: flex;
        text-indent: 20px;
        position: relative;
        color: white;
        font-family: "Balthazar", sans-serif;
        font-size: 60px;
        font-weight: bold;
        padding-bottom: 30px;
      }

      .numero::after {
        content: "";
        position: absolute;
        background-color: white;
        width: 100px;
        height: 4px;
        bottom: 20px;
      }

      .passo {
        font-family: "Balthazar", sans-serif;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }
}

#parceiros-especialistas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 60px 0px;

  h1 {
    grid-column: 1/-1;
    text-align: center;
    margin-bottom: 40px;
  }

  .parceiro {
    display: grid;
    align-content: center;
    padding: 0px 20px;
    width: 100%;
    height: 100%;

    .nome {
      position: relative;
      font-size: 40px;
      font-family: "Balthazar";
      text-align: center;
      padding-bottom: 30px;
    }

    .nome::after {
      content: "";
      position: absolute;
      background-color: black;
      width: 100%;
      height: 3px;
      left: 0px;
      bottom: 20px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 1400px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 40px 0;
    background-color: #7a0000;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 20px;
    text-transform: uppercase;

    div {
      display: flex;
      position: relative;
      justify-items: start;
      max-width: 1400px;
      gap: 40px;
    }
  }

  #sect1 {
    padding: 80px 40px;
    .box {
      width: 100%;
      p {
      }

      img {
        top: -230px;
        height: 150%;
      }
    }
  }
}
